.p {
	position: fixed;
	padding: 0;
	margin: 0;
	font-size: 25px;
	font-weight: bolder;
	top: 10rem;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	opacity: 40%;
	width: max-content;
	user-select: none;
	z-index: 100;
}
